@font-face {
  font-family: "Bebas Regular";
  src: url(../lib/fonts/Bebas-Regular.otf);
}

@font-face {
  font-family: Avenir;
  src: url(../lib/fonts/Avenir.ttc);
}

@font-face {
  font-family: "Arial Bold";
  src: url(../lib/fonts/ArialBold.ttf);
}

@font-face {
  font-family: "Arial Black";
  src: url(../lib/fonts/ArialBlack.ttf);
}

@font-face {
  font-family: "Arial";
  src: url(../lib/fonts/Arial.ttf);
}


#page, #main-wrapper {
  background-color: rgb(0,0,2);
  color: white;
}


.layout-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  max-width: 960;
}


body {
  margin: 0;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
}

button:focus {
  outline: 0;
}
