.layout-footer-wrapper {
  background-image: -webkit-linear-gradient(left,rgb(255,150,255) 0%,white 20%,rgb(178,178,178) 47%, rgb(255,150,255) 100%);
  padding: 25px 0 25px;
  font-family: "Arial Bold";
  font-size: 18px;
  color: white;
}

.layout-footer {
  /*Center images and text */
  height: 30px;
  line-height: 30px;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: auto;

  display: flex;
  justify-content: center;
}

#footer li {
  float:left;
  padding: 0 0 0 50px;
}

#footer a {
  text-decoration: none;
  color: inherit;
}
