.layout-header-wrapper {
  /*   Verlauf im Header   */
  background-image: -webkit-linear-gradient(left,rgb(255, 150, 255) 0%,white 20%,rgb(178,178,178) 47%, rgb(255, 150, 255) 100%);

r255g150b 0% weiß 20% r178g178b178 47% rosa 100%
  min-height: 7.25em;
  margin: 0;
  padding: 0;
}

.layout-header {
  color: #fffeff;
  padding: 0.5em 0 0;
  min-height: inherit;
}

.site-branding {
  font-family: "Bebas Regular";
  font-size: 42px;
  text-align: center;
}

.layout-menu {
  background-image: -webkit-linear-gradient(left,rgb(255, 150, 255) 0%,white 20%,rgb(178,178,178) 47%, rgb(255, 150, 255) 100%);
  margin: auto;
  padding: 0.5em 0 0.5em;

  font-family: Avenir;
  font-weight: 800;
  font-size: 18px;
}

.flex-container-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item a {
  color: inherit;
  text-decoration: none;
}

.flex-item a:hover {

  background: -webkit-linear-gradient(top,white 0%,white 100%);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 3px 3px;
}
